<template>
  <div>
    <div class="row">
      <div class="col-sm-4 columns">
        <div class="row group">
          <label for="exampleInputEmail1">City</label>            
          <select class="form-control" v-model="city">
            <option value=""></option>
            <option value="madrid">Madrid</option>
            <option value="segovia">Segovia</option>
          </select>                
        </div>
        <div class="row group">
          <label for="exampleInputEmail1">Category</label> 
          <select class="form-control" v-model="category">
            <option value=""></option>
            <option value="shopping">Shopping</option>
            <option value="cultural">Cultural</option>
            <option value="nature">Nature</option>
          </select>     
        </div>     
        <div class="row group">
          <label for="exampleInputEmail1">Location</label> 
          <select class="form-control" v-model="location">
            <option value=""></option>
            <option value="indoors">Indoors</option>
            <option value="outdoors">Outdoors</option>
          </select>     
        </div>   
        <div class="row group">
          <label for="exampleInputEmail1">District</label> 
          <select class="form-control" v-model="district">
            <option value=""></option>
            <option value="centro">Centro</option>
            <option value="retiro">Retiro</option>
            <option value="latina">Latina</option>
            <option value="chamberí">Chamberí</option>
          </select>     
        </div> 
        <div class="row group">
          <button class="btn btn-primary left" v-on:click="reset">Reset</button>    
          <button class="btn btn-secondary" v-on:click="find">Find</button>    
        </div>  
        <div class="row types">
          <router-link class="nav-link" to="/">Activities</router-link>
          <router-link class="nav-link" to="/recommendations">Recommendations</router-link>
        </div>        
      </div>
      <div class="col-sm-8 columns">
        <div class="row" v-if="activities">
          <print-object :printable-object="activities"></print-object>
        </div>                  
      </div>
    </div>
  </div>
</template>

<script>
import httpBuildQuery from 'http-build-query'
import requester from '../utils/requester'
import PrintObject from 'vue-print-object'
export default {
  name: 'Activities',
  components: {
    PrintObject
  },  
	data: function() {
		return {
      city: '',
      category: '',
      location: '',
      district: '',
      activities: null
		}
  },
  methods: {
    find: async function (event) {
      const filters = {}
      if (this.city != '')
        filters.city = this.city
      if (this.category != '')
        filters.category = this.category
      if (this.location != '')
        filters.location = this.location
      if (this.district != '')
        filters.district = this.district      
      const query = httpBuildQuery(filters)
      this.activities = await requester.getActivities(query)
    },
    reset: function (event) {
      this.city = ''
      this.category = ''
      this.location = ''
      this.district = ''      
      this.activities = null
    }    
  }  
}

</script>

<style>
.image {
  margin: 45px 0 0 45px;
}
.columns {
  padding: 45px !important;
}
.group {
  margin-bottom: 15px;
}
.left {
  margin-right: 10px;
}
</style>



