<template>
  <div>
    <div class="row">
      <div class="col-sm-4 columns">
        <div class="row group">
          <label for="exampleInputEmail1">City</label>            
          <select class="form-control" v-model="city">
            <option value=""></option>
            <option value="madrid">Madrid</option>
            <option value="segovia">Segovia</option>
          </select>                
        </div>
        <div class="row group">
          <label for="exampleInputEmail1">Category</label> 
          <select class="form-control" v-model="category">
            <option value=""></option>
            <option value="shopping">Shopping</option>
            <option value="cultural">Cultural</option>
            <option value="nature">Nature</option>
          </select>     
        </div>  
        <div class="row group">
          <label for="exampleInputEmail1">Day Range</label>
            <select class="form-control" v-model="day">
              <option value=""></option>
              <option value="mo">Monday</option>
              <option value="tu">Tuesday</option>
              <option value="we">Wednesday</option>
              <option value="th">Thursday</option>
              <option value="fr">Friday</option>
              <option value="sa">Saturday</option>
              <option value="su">Sunday</option>
            </select>           
        </div>  
        <div class="row group">
          <label for="exampleInputEmail1">Start Range</label>
          <select class="form-control" v-model="startHour">
            <option value=""></option>
            <option v-for="(n, index) in 24" v-bind:key="index">{{index | format}}</option>
          </select> :
          <select class="form-control" v-model="startMinute">
            <option value=""></option>
            <option v-for="(n, index) in 60" v-bind:key="index">{{index | format}}</option>
          </select>            
        </div>      
        <div class="row group">
          <label for="exampleInputEmail1">End Range</label>
          <select class="form-control" v-model="endHour">
            <option value=""></option>
            <option v-for="(n, index) in 24" v-bind:key="index">{{index | format}}</option>
          </select> :          
          <select class="form-control" v-model="endMinute">
            <option value=""></option>
            <option v-for="(n, index) in 60" v-bind:key="index">{{index | format}}</option>
          </select>              
        </div>                                   
        <div class="row group">
          <button class="btn btn-primary left" v-on:click="reset">Reset</button>    
          <button class="btn btn-secondary" v-on:click="find">Find</button>    
        </div>    
        <div class="row types">
          <router-link class="nav-link" to="/">Activities</router-link>
          <router-link class="nav-link" to="/recommendations">Recommendations</router-link>
        </div>                                         
      </div>
      <div class="col-sm-8 columns">         
        <div class="row" v-if="activities">
          <print-object :printable-object="activities"></print-object>
        </div>                  
      </div>
    </div>
  </div>
</template>

<script>

import httpBuildQuery from 'http-build-query'
import requester from './../utils/requester'
import PrintObject from 'vue-print-object'

export default {
  name: 'Recommendations',
  components: {
    PrintObject
  },  
	data: function() {
		return {
      city: '',
      category: '',
      'time-range': '',
      day: '',
      startHour: '',
      endHour: '',
      startMinute: '',
      endMinute: '',
      activities: null,
      query: ''
		}
  },
  filters: {
    decode: function (value) {
      return decodeURIComponent(value)
    },
    format: function (value) {
      if (value < 10) return '0' + value
      return value
    }
  },
  methods: {
    find: async function (event) {
      this['time-range'] = `${this.day}-${this.startHour}:${this.startMinute}-${this.endHour}:${this.endMinute}`
      const filters = {}
      if (this.city != '')
        filters.city = this.city
      if (this.category != '')
        filters.category = this.category
      if (this['time-range'] != '')
        filters['time-range'] = this['time-range']   
      const query = httpBuildQuery(filters)
      this.query = '/recommendations?' + query
      this.activities = await requester.getRecommendations(query)
    },
    reset: function (event) {
      this.city = ''
      this.category = ''
      this.day = ''
      this.startHour = ''
      this.endHour = ''
      this.startMinute = ''
      this.endMinute = ''
      this.query = ''
      this.activities = null
    }    
  }  
}

</script>

<style>
.image {
  margin: 45px 0 0 45px;
}
.columns {
  padding: 45px !important;
}
.group {
  margin-bottom: 15px;
}
.left {
  margin-right: 10px;
}
</style>



