<template>
  <div id="app">
    <div class="container-fluid">
      <div class="row">
        <img height="100" class="image" src="./assets/carto.png">
      </div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
.types {
  margin-left: 0px!important;
}
.image {
  margin: 45px 0 0 45px;
}
.columns {
  padding: 45px !important;
}
.group {
  margin-bottom: 15px;
}
.left {
  margin-right: 10px;
}
</style>



